@import "tailwindcss";

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  /* COLORS */
  --color-text: #fffbff;
  --color-background: #000500;
  --color-primary: #b88b4a;
  --color-secondary: #92817a;
  --color-accent: #b88b4a;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  --primary: #b88b4a; /* Prussian Blue */
  --secondary: #14213d; /* Alabaster Grey */
  --accent: #b88b4a; /* Orange */
  --text: #ffffff; /* Black */
  --background: #000000; /* White */

  --header-1: 48px;
  --header-2: 40px;
  --header-3: 32px;
  --header-4: 24px;
  --header-5: 22px;
  --header-6: 20px;

  --text-md: 16px;
  --text-lg: 20px;

  --bold: 900;
  --semi-bold: 700;

  --spacing-xl: 32px;
  --spacing-lg: 24px;
  --spacing-md: 16px;
  --spacing-sm: 8px;
}

[data-mantine-color-scheme="light"] body {
  --mantine-color-body: #ffffff !important;
  --background: #ffffff !important;
  --text: #000000 !important;
  --primary: #b88b4a !important;
  --secondary: #567ccf !important;
  --accent: #b88b4a !important;
}

[data-mantine-color-scheme="dark"] body {
  --mantine-color-body: #000000 !important;
  --background: #000000 !important;
  --primary: #b88b4a !important; /* Prussian Blue */
  --secondary: #14213d !important; /* Alabaster Grey */
  --accent: #b88b4a !important; /* Orange */
  --text: #ffffff !important; /* Black */
}
